<app-nav [links]="['Questions', 'NewQuestions']" [isHome]="true"></app-nav>
<div style="margin-top: 10vh; max-width: 50vw; margin-left: 25vw">
  <mat-card>
    <mat-card-title style="color: rgb(151, 31, 75); padding:10px;"><b>New Questions</b></mat-card-title>
  </mat-card>
  <div style="margin-top: 5vh">
    <mat-card *ngIf="data.length > 0">
      <mat-action-list>
        <div>
          <div *ngFor="let item of data">
            <button mat-list-item>
              <mat-card-content style="font-size: 20px; padding:10px;" matLine>
                <b>{{ item.question }} ?</b>
              </mat-card-content>
              <mat-card-content style="font-size: 16px; padding:8px;" matLine
                >Published By: {{ item.userName }}</mat-card-content
              >
              <mat-card-content style="font-size: 16px; padding:8px;" matLine
                >Date : {{ item.created }}</mat-card-content
              >
              <mat-card-content style="font-size: 16px; padding:8px;" matLine
                >Topic : {{ item.topic }}</mat-card-content
              >
              <mat-card-content style="font-size: 16px; padding:8px;" matLine
                >Answer : {{ item.answer }}</mat-card-content
              >
              <button
                mat-raised-button
                color="primary"
                (click)="approve(item.id)"
              >
                Approve
              </button>
              <button mat-raised-button color="warn" style="background-color: rgb(151, 31, 75);color:white; margin-left: 10px;" (click)="delete(item.id)">
                Delete
              </button>
            </button>
            <mat-divider></mat-divider>
          </div>
        </div>
      </mat-action-list>
    </mat-card>
    <mat-card *ngIf="data.length === 0">
      <mat-card-subtitle style="margin-left: 15vw; color:rgb(151, 31, 75); font-size:18px;"
        ><marquee><b><em>There are no questions to approve..!</em></b></marquee>
      </mat-card-subtitle>
    </mat-card>
  </div>
</div>
